* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}


/* SIDE NAV */
.side-nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 90vh;
    width: 14vw;
    padding: 1vh 5vw 0 1vw;
    z-index: 2;
}

.logo img {
   width: 100%;
}

.side-top a {
    text-decoration: none;
    color: #717171;
}

.side-top li {
    list-style-type: none;
}

.side-function li:nth-child(1):before {
    content: "";
    display: inline-block;
    background: url(../img/home.svg);
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

.side-function li:nth-child(2):before {
    content: "";
    display: inline-block;
    background: url(../img/search.svg);
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

.side-function li:nth-child(3):before {
    content: "";
    display: inline-block;
    background: url(../img/libreria.svg);
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

/* MAIN CONTENT */

/* HEADER */
.content {
    width: 85vw;
    background-color: #141922;
    overflow: auto;
}

.alert-upgrade {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 3vh;
    z-index: 1;
}

.button-upgrade a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 25px;
}

/* SHOWCASE */
.showcase {
    width: 85vw;
    height: auto;
    background-color: #141922;
    display: flex;
    flex-direction: column;
    padding: 10vh 1vw 25vh;
}

.menu {
    align-self: center;
}

.menu li {
    font-size: 0.8rem;
    font-weight: 700;
    list-style-type: none;
    display: inline;
    margin: 0 1vw;
}

.menu li:first-child {
    border-bottom: 1px solid #a5f32e;
}

.menu a {
    text-decoration: none;
    color: #717171;
}

#titolo-content {
    align-self: flex-start;
    color: white;
    margin-top: 4vh;
    font-size: 0.8rem;
}

#titolo-content p {
    color: #717171;
    font-weight: 700;
    font-size: 0.8rem;
}

#recently-played {
    display: flex;
    gap: 1vw;
    margin-top: 3vh;
}

.row {
    display: flex;
    gap: 1vw;
    margin-top: 3vh;
}

.covers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6 - 1vh);
    text-align: center;
}

#round-covers img {
    border-radius: 50%;
}

.covers img {
    width: 100%;
}

#titoli-covers {
    color: white;
    font-size: 1rem;
    margin-top: 2vh;
    font-weight: 800;
}

#sub-covers {
    color: #717171;
    font-size: 0.8rem;
    margin-top: 1vh;
    font-weight: 700;
}





/* FOOTER */

footer {
    height: 10vh;
    width: 100vw;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}